<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:installLocation="auto"
    package="com.moubry.worthwatching"
    android:versionCode="13"
    android:versionName="@string/app_version" >

    <uses-sdk
        android:minSdkVersion="4"
        android:targetSdkVersion="14" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- <uses-permission android:name="com.android.vending.CHECK_LICENSE" /> -->

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" >
    </supports-screens>

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/Theme.WorthWatching" >
        <activity
            android:label="@string/app_name"
            android:name="com.moubry.worthwatching.ui.MainActivity" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:name="com.moubry.worthwatching.ui.HomeActivity" >
            <intent-filter >
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>

            <meta-data
                android:name="android.app.default_searchable"
                android:value="com.moubry.worthwatching.ui.SearchActivity" />
        </activity>      
        <activity
            android:label="@string/search"
            android:launchMode="singleTop"
            android:name="com.moubry.worthwatching.ui.SearchActivity" >
            <intent-filter >
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:label="@string/title_box_office"
            android:name="com.moubry.worthwatching.ui.MovieListActivity" >
            <intent-filter >
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>

            <meta-data
                android:name="android.app.default_searchable"
                android:value="com.moubry.worthwatching.ui.SearchActivity" />
        </activity>        
        <activity
            android:label="@string/title_box_office"
            android:name="com.moubry.worthwatching.ui.MovieListBoxOfficeActivity" >
            <intent-filter >
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>

            <meta-data
                android:name="android.app.default_searchable"
                android:value="com.moubry.worthwatching.ui.SearchActivity" />
        </activity>
        <activity
            android:label="@string/title_in_theaters"
            android:name="com.moubry.worthwatching.ui.MovieListInTheatersActivity" >
            <intent-filter >
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>

            <meta-data
                android:name="android.app.default_searchable"
                android:value="com.moubry.worthwatching.ui.SearchActivity" />
        </activity>
        <activity
            android:label="@string/title_opening"
            android:name="com.moubry.worthwatching.ui.MovieListUpcomingActivity" >
            <intent-filter >
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>

            <meta-data
                android:name="android.app.default_searchable"
                android:value="com.moubry.worthwatching.ui.SearchActivity" />
        </activity>
        <activity
            android:label="@string/title_dvd_new_releases"
            android:name="com.moubry.worthwatching.ui.MovieListDVDReleasesActivity" >
            <intent-filter >
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>

            <meta-data
                android:name="android.app.default_searchable"
                android:value="com.moubry.worthwatching.ui.SearchActivity" />
        </activity>
        <activity
            android:label="@string/app_name"
            android:name="com.moubry.worthwatching.ui.MovieRatingActivity" >
            <intent-filter >
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>

            <meta-data
                android:name="android.app.default_searchable"
                android:value="com.moubry.worthwatching.ui.SearchActivity" />
        </activity>
        <activity
            android:label="@string/title_settings"
            android:name="com.moubry.worthwatching.ui.SettingsActivity" >
            <meta-data
                android:name="android.app.default_searchable"
                android:value="com.moubry.worthwatching.ui.SearchActivity" />
        </activity>
        <activity
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:name="com.google.ads.AdActivity" />

        <provider
            android:authorities="com.moubry.worthwatching.WWMovieTitleSuggestionsProvider"
            android:name="com.moubry.worthwatching.WWMovieTitleSuggestionsProvider" />
    </application>

</manifest>