<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.moubry.tomatoratings"
      android:installLocation="auto" android:versionName="2.2.1" android:versionCode="8">
       <uses-sdk android:minSdkVersion="4" android:targetSdkVersion="13" />
<uses-permission android:name="android.permission.INTERNET" />
<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
<supports-screens android:smallScreens="true" android:largeScreens="true" android:xlargeScreens="true" android:resizeable="true" android:anyDensity="true" android:normalScreens="true"></supports-screens>


    <application android:icon="@drawable/icon" android:label="@string/app_name" android:theme="@style/Theme.TomatoRatings">

        <activity android:label="@string/app_name" android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:label="@string/app_name" android:name=".ui.HomeActivity" android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        
        <activity android:label="@string/search" android:name=".ui.SearchActivity" android:launchMode="singleTop">
			<intent-filter>
				<action android:name="android.intent.action.SEARCH"/>
			</intent-filter>
			<meta-data android:name="android.app.searchable" android:resource="@xml/searchable"/>
        </activity>
        <activity android:label="@string/title_box_office" android:name=".ui.MovieListBoxOfficeActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity android:label="@string/title_in_theaters" android:name=".ui.MovieListInTheatersActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>     
        <activity android:label="@string/title_opening" android:name=".ui.MovieListUpcomingActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>   
        <activity android:label="@string/title_dvd_new_releases" android:name=".ui.MovieListDVDReleasesActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>                        
        <activity android:label="@string/app_name" android:name=".ui.MovieRatingActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity android:label="@string/title_settings" android:name=".ui.SettingsActivity">
        </activity>        
		<provider android:name=".MovieTitleSuggestionsProvider"
              	  android:authorities="com.moubry.tomatoratings.MovieTitleSuggestionsProvider" />
        <meta-data android:name="android.app.default_searchable" android:value=".ui.SearchActivity" />
    </application>
</manifest>